 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {box-sizing: border-box;}

.contact-form{
width:70%;
margin:0 auto;
}
.contact-form-container{
background-color:#f1f1f1;
padding:4rem 2rem;
width:70%;
max-height: 80vh;
border: solid 1px #f1f1f1;
border-radius:10px;
margin: 40px auto;
box-shadow:2px 2px 20px -4px #242424;

}
input[type=text],input[type=email], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  transition:0.5s
}
.centered{text-align:center}

input[type=submit] {
  background-color: #242424;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding:1rem 0;
  opacity:0.8;
  width:80%;
  transition:0.33s;
  font-size: 30px;
  line-height: 70%;
  border-radius: 999px;
}
input::placeholder{
  opacity:0.4;
}

textarea::placeholder{
  opacity:0.4;
}
input:hover::placeholder{
  opacity:0.6
}

textarea:hover::placeholder{
  opacity:0.6
}

@media screen (min-width:300px){

.contact-form{width:100%;}
.contact-form-container{width:75%;height:50vh;}
input[type=submit] {
width:100%;
}
}

.cnt{
height:calc(100vh - 80px)
}
