 @import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: calc(100vh - 80px);
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.services {
  background-image: url('/images/img2.webp');
  background-position: center;
  background-size: cover;
   
   
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

  opacity:0.95;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.container{
	height: calc(100vh - 80px);

  font-size: 1.5rem;
  
  line-height:calc(100vh - 80px);
  display: flex;
}

@media (min-width:300px){
.container {
font-size:1.2rem
}

}

.products {
  background-image: url('/images/img1.webp');
  background-position: center; 
  min-width: 100%;
  min-height: 100%;

  background-size: fill;
  background-repeat: no-repeat;
  opacity:0.95;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img3.webp');
  background-position: center;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;

  background-repeat: no-repeat;
  color: #f1f1f1;
  opacity:0.95;
  font-size: 100px;
}
.tline-txt{
font-size:20px;
}

.timelineItem{
  align-items: flex-start;
  border-radius: 4px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: 1em 0;
  position: relative;
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  line-height:1.5rem;
}